* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c2a633;
  font-family: monospace;
}

h1 {
  font-size: 26px;
  margin: 10px 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: lowercase;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  padding: 10px;
  padding-top: 10vh;
  text-align: center;
  text-transform: uppercase;
}

#countdown {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.time {
  margin: 0 2px;
}

.time div:nth-child(1) {
  font-size: 30px;
}

.time div:nth-child(2) {
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 30px;
    margin: 20px 0;
  }

  img {
    max-width: 460px;
    height: auto;
  }

  .time {
    margin: 0 4px;
  }

  .time div:nth-child(1) {
    font-size: 40px;
  }

  .time div:nth-child(2) {
    font-size: 16px;
  }
}
